@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Raleway', sans-serif;
    font-size: 14pt;
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
    padding-right: 0 !important; /* Because of Bootstrap Modals */
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-color-hover);
    text-decoration: underline;
}

.modal-content {
    background-color: var(--even);
}

.modal-content .close {
    color: var(--text-color) !important;
}

.modal-header {
    border-color: var(--odd);
}

.custom-select {
    background: var(--custom-select-bg) no-repeat right .75rem center/8px 10px;
    background-color: var(--input-background-color);
    color: var(--text-color);
    border-color: var(--input-border-color);
}

.custom-control-label::before {
    background-color: var(--input-background-color);
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border: none;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-thumb-active);
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
    border: none;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.table {
    color: var(--text-color);
}

.table.table-hover tr:hover,
.table.table-hover th:hover {
    color: var(--text-color-hover);
}

#app {
    width: 100%;
    padding: 16px;
    min-width: 400px;
    min-height: 100vh;
}

.sidebar {
    position: fixed;
    left: 0;
    height: 100%;
    width: 0;
    z-index: 1100;
    background: var(--background-color);
    margin-top: calc(75px - 16px);
    transition: width 100ms;
}

.sidebar.sidebar-right {
    left: unset;
    right: 0;
}

.sidebar.open {
    width: 400px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    border-bottom: 1px solid var(--even);
    margin: 0;
    padding: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: min-content;
    align-items: center;
}

.sidebar ul li .description {
    margin: 0;
}

.sidebar ul li .config {
    user-select: none;
    justify-self: right;
}

.sidebar-backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 950;
    background-color: rgba(0, 0, 0, 0.4);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 400px;
    padding: 16px 0;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-column-gap: 4px;
    align-items: center;
    z-index: 1000;

    background-color: var(--background-color);
}

.search {
    text-align: center;
}

.search input {
    outline: none;
    border-radius: 4px;
    font-size: 24px;
    width: 100%;
    text-align: center;
    border: 1px solid;

    background-color: var(--input-background-color);
    border-color: var(--input-border-color);
    color: var(--text-color);
}

.search input:hover {
    border-color: var(--input-border-color-hover);
}

.search input:focus {
    border-color: var(--input-border-color-focus);
}

.settings-button {
    text-align: right;
    padding-right: 16px;
}

.settings-button button {
    color: var(--link-color);
}

.settings-button button:hover {
    color: var(--link-color-hover);
}

#main {
    visibility: hidden;
    margin-top: 64px;
    min-height: calc(100vh - 72px - 114px - 24px);
}

#main.loaded {
    visibility: unset;
}

.translation {
    text-align: center;
}

.translation h1 {
    font-family: 'Yu Gothic', 'Noto Sans JP', sans-serif;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 16px;
}

.cards .card {
    border-radius: 4px;
    padding: 4px;
    background-color: var(--card-color);
    transition: all 100ms;
    user-select: none;
}

.cards .card:hover {
    cursor: pointer;
    color: var(--text-color-hover);
}

.cards .card .kanji {
    font-size: 8em;
    font-family: 'Yu Gothic', 'Noto Sans JP', sans-serif;
    margin: 0 auto;
}

.cards .card.l2 .kanji {
    font-size: 6em;
    padding: 0.25em 0;
}

.cards .card.l3 .kanji {
    font-size: 4em;
    padding: 0.5em 0;
}

.cards .card .translation {
    position: absolute;
    font-size: 1.5em;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.card-info {
    text-align: center;
    font-size: 1em;
}

.card-info p {
    margin: 0;
}

.card-info .kanji {
    font-size: 8em;
    font-family: 'Yu Gothic', 'Noto Sans JP', sans-serif;
}

.card-info .translation {
    font-size: 2em;
    margin-bottom: 16px;
}

.card-info .ipa {
    margin-bottom: 8px;
}

.card-info .furigana-div {
    font-family: 'Yu Gothic', 'Noto Sans JP', sans-serif;
    margin: 0 calc(-1rem - 2px) -2rem;
}

.card-info .furigana-div thead {
    background-color: var(--btn-background-color-hover);
    filter: drop-shadow(0 0 4px var(--drop-shadow-color));
}

.card-info .furigana > *:not(:first-child)::before {
    padding: 0 8px;
    content: '、';
}

footer {
    padding: 24px 0;
    font-size: 0.85em;
}

footer p {
    margin: 0;
}

@media (max-width: 400px) {
    .sidebar.open {
        width: 100%;
    }
}
